@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  width: 100%;
  height: 100vh;
  position: relative;
  background: rgba(0,0,0,0.3);
  overflow: hidden;
  font-family: 'Kosugi Maru', sans-serif;
}
  .app::before{
    content: '';
    background: url('./source/cloud.jpeg') center/cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
.time{
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  color: #fff;
}
.loader{
  display: flex;
  position: fixed;
  left: 50%;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid rgb(135, 134, 134);
  border-radius: 100%;
  animation: spin 1s infinite linear;
}
  .hideLoader{
    display: none;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
      to {
        transform: rotate(360deg);
    }
  }
.locationSelect{
  display: flex;
  justify-content: center;
  position: relative;
  top: 7.5%;
  z-index: 2;
}
.selector{
  width: 300px;
}
#selectField{
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 30px;
  box-sizing: border-box;
  background: rgba(255,255,255,0.6);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25em;
  cursor: pointer;
}
  #selectField img{
    width: 16px;
  }
  .arrow{
    transition: 0.5s;
    transform: rotate(0);
  }
  .arrowToggle{
    transition: 0.5s;
    transform: rotate(180deg);
  }
#list{
  width: 100%;
  background: rgba(255,255,255,0.6);
  border-radius: 6px;
  overflow: hidden;
  font-size: 1.25em;
  transition: 0.5s linear;
}
.hide{
  visibility: hidden;
  opacity: 0;
}
.options{
  width: 100%;
  padding: 20px;
  list-style: none;
  box-sizing: border-box;
  cursor: pointer;
}
  .options:hover{
    background: rgba(255,255,255,0.3);
  }

.result{
  display: none;
}
  .showResult{
    display: inline;
  }
.displayBox{
  color: #fff;
  text-align: center;
  position: relative;
  top: -15%;
}
  .displayBox .city{
    font-size: 2em;
    position: relative;
    left: -10%;
  }
  .displayBox .feel{
    font-size: 1.25em;
    position: relative;
    right: -10%;
  }
  .displayBox .temperature{
    font-size: 5em;
    font-family: 'Nunito', sans-serif;
    position: relative;
    top: -7.5vh;
    margin-top: 1em;
  }
  .displayBox .rain{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75em;
    position: relative;
    top: -10vh;
    margin-top: 1em;
  }
  .displayBox .rain span{
    font-size: 1.75em;
    font-family: 'Nunito', sans-serif;
  }
  .displayBox .weatherIcon{
    height: 50px;
    object-fit: cover;
    margin-left: 1em;
  }
  .displayBox .description{
    font-size: 1.75em;
    position: relative;
    margin-top: -5vh;
  }
.displayBottom{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  margin: -10vh 2vh;
  color: #fff;
  background: rgba(255,255,255,0.2);
  border-radius: 25px;
  font-size: 1.25em;
}
.support{
  text-align: center;
  margin-top: 10%;
  color: lightgray
}

@media (max-width:830px) {
  .displayBox{
    top: -5%
  }
  .displayBox .rain{
    top: -5vh;
  }
  .displayBox .description{
    margin-top: 0vh;
  }
  .displayBottom{
    margin: 0vh 2vh;
  }
}

@media (max-width:400px) {
  .displayBox{
    top: -10%
  }
  .displayBox .rain{
    top: -5vh;
  }
  .displayBox .description{
    margin-top: 0vh;
  }
  .displayBottom{
    margin: 5vh 2vh;
  }
}

@media (max-width:370px) {
  .displayBottom{
    margin: 0vh 2vh;
  }
}